{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-1 font-weight-bold">Name: </div>
        <div class="col-4" id="name">{{ name }}</div>
    </div>

    <div class="row">
        <div class="col-1 font-weight-bold">Gender: </div>
        <div class="col-4" id="gender">{{ gender }}</div>
    </div>

    <div class="row">
        <div class="col-1 font-weight-bold">Over 18: </div>
        <div class="col-4" id="over18">{{ over18 }}</div>
    </div>

    <div class="row">
        <div class="col-1 font-weight-bold">Car: </div>
        <div class="col-4" id="car">{{ car }}</div>
    </div>

    <div class="row">
        <div class="col-1 font-weight-bold">Message: </div>
        <div class="col-4" id="message">{{ message }}</div>
    </div>

{% endblock %}